{% extends 'base.html' %}

{% block title %}Add a title{% endblock %}

{% block content %}

<div class="cards w3-card w3-round-xlarge animate__animated animate__jackInTheBox">

  <h2 class="heading">Add a title!</h2>
  <hr>

  <form class="addform" method="post" action="#">
    <p class="label">Write down your title:</p>
    <input class="w3-input w3-round-large" type="text" name="title_name">
    <hr>
    <input class="w3-button w3-round-large w3-large w3-rectangle w3-xlarge w3-ripple w3-grey" style="width:100%;" type="submit" value="+">
  </form>

</div>
{% endblock %}