<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="{{url_for('static', filename='cricon.png')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&family=Montserrat:wght@600&family=Otomanopee+One&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="{{url_for('static', filename='main.css')}}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %} - Clickrate</title>

    <br><br>

    <img src="{{url_for('static', filename='cricon.png')}}" class="logo w3-animate-top">
    <h1 class="w3-monospace clickrate w3-animate-top">Clickrate!</h1>
    <p style="font-size:20px; color:#FFC857; margin:0px;" class="w3-animate-top">A web app to rate different titles!</p>

    <br><br>

    <div class="navbar w3-animate-opacity mobilehidden">
    <a href="{{url_for('home')}}" class="nbitem w3-animate-left">Home</a>
    <a href="/add" class="nbitem w3-animate-left">Add a Title!</a>
    <a href="/login" class="nbitem w3-animate-left">Login/Sign Up!</a>
    </div>

</head>


<body style="text-align:center;">
    {% if get_flashed_messages() %}
    {% for message in get_flashed_messages() %}
    <div class="flashed w3-panel"><p style="color:#FFC857;">{{message}}</p></div>
    {% endfor %}
    {% endif %}

    <br><br>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <br><br>

    <div class="w3-animate-bottom">
        <hr>
        <p style="color:white;">Made with slight frustration at powershell by Zylops</p>
    </div>
    
</body>
</html>