{% extends 'base.html' %}

{% block title %}Profile!{% endblock %}


{% block content %}
    
<h2 class="heading">Posts by {{titles[0].author}}</h2>
<hr>

{% if titles %}
{% for ttl in titles %}
<div class="cards w3-card w3-round-xlarge w3-animate-right">
    <h3 class="title">{{ttl.title_content}}</h3>
    <p class="author">By {{ttl.author}}</p>
    <hr>

    <p style="color:#9adbab; font-weight:900;">Rank #{{ttl.ranking}}</p>

    <form action="#" method="post" style="display:inline;">
        <input class="hidden" type="text" name="title_id" value="{{ttl._id}}">
        <input class="hidden" type="text" name="title_rank" value="{{ttl.ranking}}">
        <input class="icon-button" type="image" src="{{url_for('static', filename='upvote.png')}}">
    </form>

    {% if session['un'] == ttl.author %}
    <form action="{{url_for('delete')}}" method="post" style="display:inline;">
        <input class="hidden" type="text" name="title_content" value="{{ttl.title_content}}">
        <input class="icon-button" type="image" src="{{url_for('static', filename='delete.png')}}">
    </form>

    <form action="/edit" method="get" style="display:inline;">
        <input class="hidden" type="text" for="title_id" name="title_id" value="{{ttl._id}}">
        <input class="icon-button" type="image" src="{{url_for('static', filename='edit.png')}}">
    </form>
    {% endif %}
</div>
{% endfor %}
{% endif %}

{% endblock content %}